In [4]:
import pandas as pd
data=pd.read_excel("inter.xlsx")
data["Bonus"]=(data["salary"]/100)*15
print(data)

   0 First Name  Last Name  Gender        Country   Age        Date    Id  \
0  1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2  3     Philip       Gent    Male         France   NaN  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549
4  5    Nereida    Magwood  Female            NaN  58.0  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States  24.0  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain  56.0  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   NaN  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States  40.0  21/05/2015  6548

    salary   Bonus
0  30000.0  4500.0
1  43000.0  6450.0
2  50000.0  7500.0
3      NaN     NaN
4  34000.0  5100.0
5  30000.0  4500.0
6  60000.0  9000.0
7  27000.0  4050.0
8  40000.0  6000.0

In [9]:
data={"Department": ["COMPUTER ","CIVIL","MECHANICAL","ELECTRICAL"]}
def extract(value) :
    return value[0:3]
data=pd.DataFrame(data)
data["In_short"]=data["Department"].map(extract)
print(data)

   Department In_short
0   COMPUTER       COM
1       CIVIL      CIV
2  MECHANICAL      MEC
3  ELECTRICAL      ELE

In [11]:
import pandas as pd
data1={"roll no":["CSE224019","CSE224020","CSE224021","CSE224022"],
"name":["irfan","alia","isbaul","asif"],
"age":[19,20,21,22]}
df1=pd.DataFrame(data1)
#print(df1)
data2={"roll no":["CSE224006","CSE224001","CSE224002","CSE2240014"],
"name":["miraj","neyeem","arif","lisan"],
"age":[19,18,20,21]}
df2=pd.DataFrame(data2)
#print(df2)
print(pd.concat([df1,df2]))

      roll no    name  age
0   CSE224019   irfan   19
1   CSE224020    alia   20
2   CSE224021  isbaul   21
3   CSE224022    asif   22
0   CSE224006   miraj   19
1   CSE224001  neyeem   18
2   CSE224002    arif   20
3  CSE2240014   lisan   21