In [2]:
import pandas as pd
data={"name":["irfan","habib","boni","raina"],
"age":[18,20,18,40],
"salary":[25000,32000,18000,32000]
}
df=pd.DataFrame(data)
print(df)

    name  age  salary
0  irfan   18   25000
1  habib   20   32000
2   boni   18   18000
3  raina   40   32000

In [6]:
data=pd.read_excel("random.xlsx")
print(data)

      Order ID Order Date  Order Quantity       Sales       Ship Mode  \
0            3 2010-10-13               6    261.5400     Regular Air
1            6 2012-02-20               2      6.9300     Regular Air
2           32 2011-07-15              26   2808.0800     Regular Air
3           32 2011-07-15              24   1761.4000  Delivery Truck
4           32 2011-07-15              23    160.2335     Regular Air
...        ...        ...             ...         ...             ...
1002      7171 2011-02-13              17    303.1865     Regular Air
1003      7174 2012-03-10              10    141.9200     Regular Air
1004      7175 2010-02-07              10    748.2500  Delivery Truck
1005      7203 2009-01-08              25  21752.0100     Regular Air
1006      7239 2011-06-29              50   6206.1600     Regular Air

        Profit  Unit Price       Customer Name Customer Segment  \
0     -213.250       38.94  Muhammed MacIntyre   Small Business
1       -4.640        2.08         Ruben Dartt        Corporate
2     1054.820      107.53       Liz Pelletier        Corporate
3    -1748.560       70.89       Liz Pelletier        Corporate
4      -85.129        7.99       Liz Pelletier        Corporate
...        ...         ...                 ...              ...
1002    92.592       20.99        Andy Gerbode         Consumer
1003    12.200       13.73     Thomas Thornton         Consumer
1004   -86.990       70.98      Helen Andreada        Corporate
1005  9296.348      896.99         Ruben Dartt        Corporate
1006  1416.270      120.33       Craig Carroll   Small Business

     Product Category
0     Office Supplies
1     Office Supplies
2           Furniture
3           Furniture
4          Technology
...               ...
1002       Technology
1003        Furniture
1004        Furniture
1005  Office Supplies
1006  Office Supplies

[1007 rows x 10 columns]

In [7]:
a1=pd.read_csv("C:/Users/irfan/OneDrive/Documents/hotel_booking.csv")
print(a1)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0       2  ...      Transient    0.00
1                          0       2  ...      Transient    0.00
2                          1       1  ...      Transient   75.00
3                          1       1  ...      Transient   75.00
4                          2       2  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]