In [7]:
import pandas as pd 
data=pd.read_excel("random.xlsx")
##print(data)
print(data.head(2))
print(data.tail(2))

   Order ID Order Date  Order Quantity   Sales    Ship Mode  Profit  \
0         3 2010-10-13               6  261.54  Regular Air -213.25
1         6 2012-02-20               2    6.93  Regular Air   -4.64

   Unit Price       Customer Name Customer Segment Product Category
0       38.94  Muhammed MacIntyre   Small Business  Office Supplies
1        2.08         Ruben Dartt        Corporate  Office Supplies
      Order ID Order Date  Order Quantity     Sales    Ship Mode    Profit  \
1005      7203 2009-01-08              25  21752.01  Regular Air  9296.348
1006      7239 2011-06-29              50   6206.16  Regular Air  1416.270

      Unit Price  Customer Name Customer Segment Product Category
1005      896.99    Ruben Dartt        Corporate  Office Supplies
1006      120.33  Craig Carroll   Small Business  Office Supplies

In [9]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          1007 non-null   int64
 1   Order Date        1007 non-null   datetime64[ns]
 2   Order Quantity    1007 non-null   int64
 3   Sales             999 non-null    float64
 4   Ship Mode         1007 non-null   object
 5   Profit            999 non-null    float64
 6   Unit Price        1007 non-null   float64
 7   Customer Name     1007 non-null   object
 8   Customer Segment  1007 non-null   object
 9   Product Category  1007 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 78.8+ KB
None
          Order ID                     Order Date  Order Quantity  \
count  1007.000000                           1007     1007.000000
mean   3478.923535  2010-12-24 04:24:32.889771776       24.832175
min       3.000000            2008-07-15 00:00:00        1.000000
25%    1665.500000            2010-01-05 00:00:00       12.000000
50%    3456.000000            2010-12-24 00:00:00       25.000000
75%    5350.000000            2012-01-04 00:00:00       38.000000
max    7239.000000            2012-12-28 00:00:00       50.000000
std    2119.704215                            NaN       14.367466

              Sales        Profit   Unit Price
count    999.000000    999.000000  1007.000000
mean    1869.035668    216.914564    91.255045
min        2.240000  -4266.088500     1.260000
25%      132.465000    -83.495000     6.480000
50%      412.620000     -1.250000    20.970000
75%     1695.515000    146.608000    95.950000
max    45923.760000  11535.282000  6783.020000
std     3851.570257   1135.726341   294.993321

In [11]:
print(data.isnull().sum())

Order ID            0
Order Date          0
Order Quantity      0
Sales               8
Ship Mode           0
Profit              8
Unit Price          0
Customer Name       0
Customer Segment    0
Product Category    0
dtype: int64